.container {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.nutrients {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  list-style: none;
}

.nutrient {
  display: flex;
  flex-direction: column;
  align-items: center;
}
